body, p, button, ul, li, h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, button {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

.mainContainer {
    margin: auto;
    width: 100%;
    max-width: 1620px;
    display: flex;
    flex-wrap: wrap;
}

.landingContainer {
    width: 100%;
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(193, 100%, 96%);
}

.headerContainer {
    display: flex;
    width: 100%;
}

.headerContainer .logo {
    margin: 5%;
}

.headerContainer button {
    margin: 5% 5% 5% auto;
    width: 20%;
    max-width: 180px;
    background-color: white;
    border-radius: 100px;
    border: none;
    box-shadow: 1px 1px 5px hsl(208, 11%, 55%);
}

.introContainer {
    width: 100%;
    margin-bottom: 5%;
}

.heroContainer {
    margin: 0 5%;
    display: flex;
}

.heroContainer .heroCopy {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroContainer .heroCopy p {
    line-height: 1.5;
    font-size: .9rem;
}

.heroContainer .heroImage {
    margin-left: 3%;
}

.heroContainer .heroImage img {
    width: 100%;
}

.heroContainer .heroCopy p {
    margin: 4% 0;
}

.getStarted {
    width: 50%;
    background-color: hsl(322, 100%, 66%);
    padding: 3% 0;
    border: none;
    border-radius: 50px;
    color: white;
}

.getStarted:hover {
    background-color: hsl(322, 49%, 39%);
}

.contentContainer {
    margin: 5% 6% 0 6%;
    width: 100%;
}

.cards {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    margin: 5% 0;
    display: flex;
    align-content: center;
}

.cards h2 {
    margin: 5% 0;
}

.contentContainer img {
    width: 85%;
    margin: 10%;
}

.contentCopy {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
    margin: 5%;
}

.overlayContainer {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    background-color: white;
}

.overlayContainer .copyOverlay {
    margin: 5%;
}

.overlayContainer .getStarted {
    margin: 7% 0 0 25%
}

footer {
    background-color: hsl(192, 100%, 9%);
    width: 100%;
    color: white;
}

.footerContainer {
    margin: 150px 5% 0 5%;
    display: flex;
    flex-direction: column;
}

.footerContainer .copyFooter {
    display: flex;
    flex-direction: row;
    margin: 5% 0;
}

.footerContainer .logoFooter svg {
    fill: white;
}

.footerContainer .contact {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footerContainer .nav {
    width: 50%;
    height: 150px;
    display: flex;
    margin-top: 1.5%;
    margin-left: 5%;
    position: relative;
    bottom: 32px;
}

.footerContainer .nav ul {
    width: 50%;
    list-style: none;
}

.footerContainer .nav li {
    margin: 15%;
}

.footerContainer .nav a {
    color: white;
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: 5% 0;
}

.icon1 {
    max-height: 20px;
    margin-right: 10%;
}

.footerContainer .socialLinks {
    width: 33.3%;
    display: flex;
    margin-top: 1.5%;
}

.footerContainer .socialLinks svg {
    height: 40px;
    margin: 5px;
    fill: white;
}

.footerContainer .copyright {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}

@media only screen and (max-width: 576px) {

    h1 {
        text-align: center;
        font-size: 2rem !important;
    }
    h2 {
        text-align: center;
        font-size: 2rem;
    }
    p {
        font-size: 1.3rem !important;
        text-align: center;
        margin-bottom: 15%;
    }
    button {
        width: 90% !important;
        margin: 11% auto !important;
    }
    .overlayContainer {
        width: 90%;
    }
    .copyOverlay h1 {
        width: 100%;
    }
    .copyOverlay button {
        margin-left: 5% !important;
    }
    .cards, .heroContainer {
        flex-direction: column;
        align-items: center;
    }
    .contentCopy {
        order: 2;
    }
    .footerContainer .copyFooter {
        flex-direction: column;
        width: 100%;
    }
    .footerContainer .copyFooter p {
        text-align: left;
    }
    .footerContainer .contact {
        width: 100%;
    }
    .footerContainer .nav {
        margin: 5% 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .footerContainer .nav li {
        margin: 10% 0 0 0;
    }
    .footerContainer .nav a {
        font-size: 1.75rem;
    }
    .footerContainer .socialLinks {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .footerContainer {
        margin-top: 35%;
        flex-direction: column;
    }
    .footerContainer .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15%;
    }
}